@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #000625;
  color: white;
  margin: 0;
  padding: 0;
}
